:root {
    --bg-col: #2b2c31;
    --light-col: #c8c8c8;
    --mid-col: #5e6069;
    --dark-col: #45464e;
}

body {
    background: var(--bg-col);
    height: calc(100vh - 31px);
    font-family: 'Zen Kaku';
    font-weight: 300;
}

#tile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

#tile-container button {
    height: 190px;
    width: 190px;
    background: none;
    box-shadow: none;
    color: var(--mid-col);
    border: solid 2px var(--mid-col);
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#tile-container button:hover {
    color: var(--light-col);
    border-color: var(--bg-col);
    border-radius: 6px;
    background: var(--dark-col);
    transform: scale(1.08);
}

kbd {
    border: solid 1px;
    border-radius: 3px;
    padding: 3px 3px 1px 3px;
    margin: 0 1px;
    position: relative;
    display: inline-block;
    line-height: 1.4em;
    font-size: 85%;
    vertical-align: bottom;
}

.hotkey {
    white-space: nowrap;
}

button a {
    color: orange;
    font-size: 80%;
    opacity: .6;
    transition: opacity .2s ease-in-out;
    text-decoration: none;
}

button a:hover {
    opacity: 1;
    text-decoration: underline;
}

.cmd-key {
    font-size: 10px;
}

